
.header {
    margin: 50px 0;
    text-align: center;
   
}
.header h1 {
    color: rgb(48, 74, 123);
    margin-bottom: 20px;
}
.header p {
    color:rgb(106, 123, 94); 
}
.header span {
    color: rgb(137, 192, 186);
    background-color: rgb(44, 23, 163);
    padding: 3px 5px;
    border-radius: 5px;
}


.footer h1 {
     color: rgb(48, 74, 123);
     margin-top: 150px;
     text-align: center;
}